﻿body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
}

label {
    display: block;
    font-weight: bold;
}

input[type=text], input[type=password], textarea {
    width: 150px;
}

#main {
    background-color: #eee;
    padding: 4px;
    margin: 0;
}

#footer {
    background-color: #222;
    color: #eee;
    padding: 8px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.user_img {
    max-width: 50px;
    border: 1px solid #222;
    padding: 3px;
}

.menu {
    font-size: 12px;
}

.menu li {
    list-style-type: none;
}

.menu li.active {
    font-weight: bold;
}

.menu li a {
    color: #eee;
}

#sidebar {
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;

    -moz-transition: left ease 0.25s;
    -o-transition: left ease 0.25s;
    -webkit-transition: left ease 0.25s;
    transition: left ease 0.25s;
}
#sidebar.hide-sidebar {
    left: -250px;

    -moz-transition: left ease 0.25s;
    -o-transition: left ease 0.25s;
    -webkit-transition: left ease 0.25s;
    transition: left ease 0.25s;
}

#wrapper {
    margin: 0 0 0 250px;

    -moz-transition: margin ease 0.25s;
    -o-transition: margin ease 0.25s;
    -webkit-transition: margin ease 0.25s;
    transition: margin ease 0.25s;
}
#wrapper.hide-sidebar {
    margin: 0;

    -moz-transition: margin ease 0.25s;
    -o-transition: margin ease 0.25s;
    -webkit-transition: margin ease 0.25s;
    transition: margin ease 0.25s;
}